.folder-container {
  padding: 30px 25px;

  button {
    padding: 12px 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    font-size: 1em;
  }
}





.folder-structure{
  margin: 24px 0;
}
